<!--
# include params....
  # title
  # url
  # media_type
-->
BEFORE
{% if include.url and include.media_type and include.update_date %}
AFTER
<section class="row m-2">
  <div class="col-md-12">
  	{% if include.title %}
    <div class="row">
      <div class="col-md-12">
        <h2 class="d-flex justify-content-center border-bottom m-3">
          <span class="m-2">{{ include.title }}</span>
        </h2>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-center embed-responsive embed-responsive-16by9">
          <object data="{{ include.url }}" type="{{ include.media_type }}" width="1000" height="750">
             My CV is available for download <a href="{{ include.url }}" download>here</a>. Last updated {{ include.update_date }}.
          </object>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!--
NOTE:: TODO => create html page for each "file" use iframe to hold webpage (enables full screen) + safer for alternate (alt:)
https://stackoverflow.com/questions/19654577/html-embedded-pdf-iframe
-->
